.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  text-align: center;
  margin: auto;
  height: 100%;
}

.button-colour {
  background: #FF8F1F;
}

.button-transparent {
  background: transparent;
  border: none;
}

#tweet {
  background: transparent;
  border: none;
  margin-top: 37%;
}

#followers {

}

#following {

}

#new-conv {
  background: transparent;
  border: none;
}

#signout {
  background: transparent;
  border: none;
  margin-top: 37%;
}

textarea {
  resize: none;
}

.form-control:focus {
  border-color: #FF9933;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff9933;
}

body {
  padding-top: 90px;
}

#profile-form {
  padding-bottom: 160px;
}

.panel-heading {
  font-size: 1.5em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #FF9933;
}

.nav-pills a {
  color: #FFC285;
}

#timeline-container {
  padding-bottom: 110px;
}

#my-tweets-container {
  padding-bottom: 110px;
}

#notifications-container {
  padding-bottom: 110px;
}

#messages-container {
  padding-bottom: 110px;
}

#lists-container {
  padding-bottom: 110px;
}

#send-dm {
  background: #FF8F1F;
}

.thread {
  margin: 20px;
}

.timeline {
  margin: 20px;
}

.my-tweet {
  margin: 20px;
}

#spinner {
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}
